*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}
.label {
    font-size: 15px;
    margin-bottom: 10px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 15px;

}

input:focus{
    outline-color: black;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    background-color: green;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: white;
    border: 2px solid green;
    color:black;
    transition: 0.3px, ease-out;
    cursor: pointer;
}

.textarea_control {
    grid-column: 1 / span 2;
}

.textarea_control textarea {
    width: 100%;
}

@media (max-width: 460px) {
    .textarea_control {
        grid-column: 1 / span 1;
    }
};